# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.notank.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kdg\Documents\Unity\notank\.idea\.idea.notank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
